html, body {
  height: 100%;
}

body {
	background-image: url('../img/logo_mcc.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}

.jumbotron {
	border: #20345a solid 1px;
}

.vertical-center {
   position: absolute;
    top: 50px;
    bottom: 0;

  /* Make it a flex container */
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; 
  
  /* Align the bootstrap's container vertically */
    -webkit-box-align : center;
  -webkit-align-items : center;
       -moz-box-align : center;
       -ms-flex-align : center;
          align-items : center;
  
  /* Also 'margin: 0 auto' doesn't have any effect on flex items in such web browsers
     hence the bootstrap's container won't be aligned to the center anymore.
  
     Therefore, we should use the following declarations to get it centered again */
         -webkit-box-pack : center;
            -moz-box-pack : center;
            -ms-flex-pack : center;
  -webkit-justify-content : center;
          justify-content : center;
          
   /*adjust to center the login in mozilla firefox, doesn't afect google chrome nor internet explorer*/
   width: 100%;       
}

a.navbar-brand>img {
	margin-top: -7px;
}